doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style2.css')
  body
    ul.menu
      li.menu
        a.menu(href="/aws/")= "Amazon EC2"
      li.menu
        a.menu(href="/digitalocean/")= "Digital Ocean"
    block content