extends layout

block content
  h1(class="headline") #{title}
  h2 Welcome to Spark Cluster Launch on #{provider}
  form(name= "provider_main", method="get")
    input(type= "submit", value= "Launch" class="general", formaction=link)